<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="1">
            <label>Magenest</label>
        </tab>
        <section id="customizeadminhtml" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>magenest</class>
            <label>Customize Adminhtml</label>
            <tab>magenest</tab>
            <resource>Intern_CustomizeInAdminhtml::Configuration</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setup</label>
                <attribute type="expanded">1</attribute>
                <field id="customer_group_couse_time" translate="label comment" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Group Couse Time</label>
                    <frontend_model>Intern\CustomizeInAdminhtml\Block\Adminhtml\Form\Field\Ranges</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
