<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customizeadminhtml>
            <settings>
                <customer_group_couse_time>
                    <item1>
                        <customer_group>1</customer_group>
                        <course_start></course_start>
                        <course_end></course_end>
                    </item1>
                </customer_group_couse_time>
            </settings>
        </customizeadminhtml>
    </default>
</config>
