<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Model\View\Design">
        <arguments>
            <argument name="themes" xsi:type="array">
                <item name="adminhtml" xsi:type="string">Intern/CustomizeInAdminhtml</item>
            </argument>
        </arguments>
    </type>
    <type name="Intern\CustomizeInAdminhtml\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">label/tmp/image</argument>
            <argument name="basePath" xsi:type="string">label/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items">-->
<!--        <plugin name="vimagento_helloworld_update_product_name" type="Intern\CustomizeInAdminhtml\Plugin\ExportItemsOrder" />-->
<!--    </type>-->
</config>
