<?xml version="1.0"?>
<!--
/**
 * Intern
 * Copyright (C) 2020 Intern <info@Intern.com>
 *
 * @package Intern_BuyNow
 * @copyright Copyright (c) 2020 Intern (http://www.Intern.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Intern <info@Intern.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="110" class="Intern-tab">
            <label>Magenest</label>
        </tab>
        <section id="magenest_checkout" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>magenest</class>
            <label>Checkout</label>
            <tab>magenest</tab>
            <resource>Intern_HidePrice::config</resource>
            <group id="success_page" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Success Page</label>
                <field id="show_order_detail" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Order Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
