<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Intern_Chapter45::magenest" title="Movie" module="Intern_Chapter45" sortOrder="41" resource="Intern_Chapter45::menu"/>
        <add id="Intern_Chapter45::parent" title="Magenest" module="Intern_Chapter45" sortOrder="10" resource="Intern_Chapter45::parent" parent="Intern_Chapter45::magenest"/>
        <add id="Intern_Chapter45::movie" title="Magenest Movie" module="Intern_Chapter45" sortOrder="10" action="datamovie/movie/index" resource="Intern_Chapter45::movie" parent="Intern_Chapter45::parent"/>
        <add id="Intern_Chapter45::director" title="Magenest Director" module="Intern_Chapter45" sortOrder="10" action="datamovie/movie/director" resource="Intern_Chapter45::director" parent="Intern_Chapter45::parent"/>
        <add id="Intern_Chapter45::actor" title="Magenest Actor" module="Intern_Chapter45" sortOrder="10" action="datamovie/movie/actor" resource="Intern_Chapter45::actor" parent="Intern_Chapter45::parent"/>
        <add id="Intern_Chapter45::section_two" title="Section Two" module="Intern_Chapter45" sortOrder="10" resource="Intern_Chapter45::sectiontwo" parent="Intern_Chapter45::magenest"/>
        <add id="Intern_Chapter45::check_module_and_store" title="Check Module And Store" module="Intern_Chapter45" sortOrder="10" action="datamovie/sectiontwo/checkmoduleandstore" resource="Intern_Chapter45::checkmoduleandstore" parent="Intern_Chapter45::section_two"/>
    </menu>
</config>
