<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="1">
            <label>Magenest</label>
        </tab>
        <section id="magenest" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>magenest</class>
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Intern_Chapter45::Configuration</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setup</label>
                <attribute type="expanded">1</attribute>
                <field id="text_field" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Field</label>
                    <backend_model>Intern\Chapter45\Model\Config\Backend\TextField</backend_model>
                </field>
                <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>
                        <![CDATA[Yes/No_Field_<strong class="colorRed">abcd</strong>]]>
                    </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="secret" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Select Field</label>
                    <source_model>Intern\Chapter45\Model\Config\Source\Show</source_model>
                </field>
                <field id="magenest_movie" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Row in table "magenest_movie"</label>
                    <frontend_model>Intern\Chapter45\Block\Adminhtml\System\Config\RowMagenestMovie</frontend_model>
                </field>
                <field id="magenest_actor" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Row in table "magenest_actor"</label>
                    <frontend_model>Intern\Chapter45\Block\Adminhtml\System\Config\RowMagenestActor</frontend_model>
                    <depends>
                        <field id="secret">1</field>
                    </depends>
                </field>
                <field id="button_field" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Field</label>
                    <frontend_model>Intern\Chapter45\Block\Adminhtml\System\Config\ButtonField</frontend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled Auto Invoice Shipment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
