<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenest>
            <settings>
                <text_field>I'm a text field</text_field>
                <active>1</active>
                <secret>1</secret>
            </settings>
        </magenest>
    </default>
</config>
