<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="datamovie_movie_listing_data_source" xsi:type="string">Intern\Chapter45\Model\ResourceModel\MagenestMovie\Grid\Collection</item>
                <item name="datamovie_director_listing_data_source" xsi:type="string">datamovie_director_collection</item>
                <item name="datamovie_actor_listing_data_source" xsi:type="string">datamovie_actor_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="datamovie_director_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Intern\Chapter45\Model\ResourceModel\MagenestDirector</argument>
        </arguments>
    </virtualType>
    <virtualType name="datamovie_actor_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Intern\Chapter45\Model\ResourceModel\MagenestActor</argument>
        </arguments>
    </virtualType>
</config>
