<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_account_edited">
        <observer name="chapter45_change_name" instance="Intern\Chapter45\Observer\ChangeName" />
    </event>
    <event name="intern_chapter45_save_movie">
        <observer name="intern_chapter45_save_move_action" instance="Intern\Chapter45\Observer\Setrating" />
    </event>
<!--    để ý event name="section_[section id="magenest"]" file system.xml-->
    <event name="admin_system_config_changed_section_magenest">
        <observer name="custom_admin_system_config_changed_section_magenest" instance="Intern\Chapter45\Observer\ConfigObserver"/>
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="intern_chapter45_admin_save_customer" instance="Intern\Chapter45\Observer\AdminSaveCustomer" />
    </event>
    <event name="adminhtml_customer_prepare_save">
        <observer name="intern_chapter45_admin_save_customer_validate" instance="Intern\Chapter45\Observer\AdminValidateCustomer" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="intern_chapter45_invoice_checkout_submit_all_after" instance="Intern\Chapter45\Observer\CheckoutAllSubmitAfterObserver"/>
    </event>
</config>
