<div class="Intern-popup Intern-popup__theme1 Intern-popup__step2">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/universal.css}}">
    <div class="Intern-popup__image">
        <img src="{{media url=promopopup/images/universal/popup/5.png}}" alt="" />
    </div>
    <div class="Intern-popup__content">
        <div class="Intern-popup__title">Let's start shopping!</div>
        <div class="Intern-popup__note">Get <em>5% discount</em> for every purchase</div>
        <form class="form" id="cpp-form">
            <div class="Intern-popup__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>
            <div  class="Intern-popup__actions">
                <button type="submit" class="action primary"><span>Get My Discount</span></button>
            </div>
        </form>
    </div>
</div>
