<div class="Intern-popup Intern-popup__theme1 Intern-popup__step1">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/womens-day.css}}">
    <div class="Intern-popup__image">
        <img src="{{media url=promopopup/images/womens-day/popup/1.png}}" alt="" />
    </div>
    <div class="Intern-popup__content">
        <div class="Intern-popup__title">Ready For</div>
        <div class="Intern-popup__subtitle">Women's Day?</div>
        <div class="Intern-popup__note">Get a nice promo code on your email!</div>
        <form class="form" id="cpp-form">
            <div class="Intern-popup__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>
            <div  class="Intern-popup__actions">
                <button type="submit" class="action primary"><span>Get a Promo Code</span></button>
            </div>
        </form>
    </div>
</div>
