<div class="Intern-popup Intern-popup__theme1 Intern-popup__step1">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/womens-day.css}}">
    <div class="Intern-popup__image">
            <img src="{{media url=promopopup/images/womens-day/popup/1.png}}" alt="" />
        </div>
        <div class="Intern-popup__content">
            <div class="Intern-popup__title">Let's celebrate</div>
            <div class="Intern-popup__subtitle">Women's Day!</div>
            <div class="Intern-popup__note">Use promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
</div>
